<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Reddit Radio</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="./bower_components/lumx/dist/lumx.css">
    <link rel="stylesheet" href="./bower_components/mdi/css/materialdesignicons.css">
  </head>

  <body ng-app="starterApp" layout="column" ng-controller="SubredditController as ul">

    <md-toolbar layout="row">
      <md-button class="menu" ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Reddit Radio</h1>
    </md-toolbar>

    <div flex layout="row" ng-controller="DataController as data">
        
        <!-- md-is-locked-open makes automatically locked open on a certain condition, i want it always closed,
        https://material.angularjs.org/#/api/material.components.sidenav/directive/mdSidenav -->
        <md-sidenav class="md-whiteframe-z2" md-component-id="left">
          <md-list>
            <md-item>
              <h2>Starred Subreddits</h2>
            </md-item>
            <md-item ng-repeat="it in ul.subreddits">
                <md-button ng-click="ul.selectSub(it)" ng-class="{'selected' : it === ul.selected }">
                  <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                  {{it.name}}
                </md-button>
            </md-item>
          </md-list>
        </md-sidenav>




        <md-content flex id="content">

          <div flex ng-show="!ul.selected">
            <h2 ng-show="!ul.selected">Search a music subreddit </h2>
            <md-autocomplete md-selected-item="ul.selected"  md-selected-item-change="data.selected = ul.selected" ng-show="!ul.selected" md-search-text="ul.searchText" md-items="item in ul.querySearch(ul.searchText)" md-item-text="item.name" placeholder="Search for a type of music, e.g: hardcore">
              <span md-highlight-text="ul.searchText">{{item.name}} - {{item.category}}</span>
            </md-autocomplete>
          </div>

          <div flex layout="column" ng-show="ul.selected">
            
            <div flex layout="row" layout-align="center center">
              <div flex="90">
                <h2>{{ul.selected.name}}</h2>
                 <p>{{ul.selected.category}}</p>
              </div>
              <div flex="10">
              <md-button class="md-raised md-warn remove-btn" ng-show="ul.selected" ng-click="ul.selected = null">
                Deselect Subreddit
              </md-button>
              </div>
            </div>

  
            <h3>Alright now choose the type of posts you want</h3>
            <div flex layout="row" layout-align="">


              <md-select placeholder="By Type" ng-model="data.selectedType">
                <md-option ng-repeat="type in data.types"value="{{type}}">{{type}}</md-option>
              </md-select>

              <md-select placeholder="By Time" ng-model="data.selectedTime">
                <md-option ng-repeat="time in data.times"value="{{time}}">{{time}}</md-option>
              </md-select>

              <md-button class="md-fab md-primary" aria-label="Go" ng-click="data.getMedia()">
                <md-icon md-svg-icon="done"></md-icon>
              </md-button>

            </div>

            <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="data.loading"></md-progress-circular>

             <md-grid-list
                    md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="4:3"
                    md-gutter="8px" md-gutter-gt-sm="4px" >
                <md-grid-tile ng-repeat="post in data.posts | limitTo: 10"
                              md-rowspan="1"
                              md-colspan="1"
                              md-colspan-sm="1">
                    
                  <img ng-src="{{post.thumbnail}}"/>


                  <lx-dropdown position="right" from-top="true">
                      <button class="btn btn--m btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                          <i class="mdi mdi-dots-vertical"></i>
                      </button>
                      <!-- md menu is in development: https://github.com/angular/material/issues/78 -->
                      <lx-dropdown-menu>
                          <ul>
                              <li><a class="dropdown-link" ng-href="http://www.reddit.com{{post.permalink}}" target="_blank">Go to Post</a></li>
                              <li><a class="dropdown-link">Add to queue</a></li>
                              <li><a class="dropdown-link">Something else here</a></li>
                          </ul>
                      </lx-dropdown-menu>
                  </lx-dropdown>
                  <!-- <md-icon md-svg-icon="{{post.thumbnail}}"></md-icon> -->
                  <a ng-href="{{post.url}}" target="_blank">
                   <md-grid-tile-footer><h3>{{post.title}}</h3></md-grid-tile-footer>
                  </a>
                </md-grid-tile>
              </md-grid-list>

          </div>

<!--           <md-button class="share" ng-show="ul.selected" md-no-ink ng-click="ul.share($event)" aria-label="Share">
            <md-icon md-svg-icon="share"></md-icon>
          </md-button> -->

        </md-content>

    </div>

    <!-- Before body closing tag -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.js"></script>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="bower_components/velocity/velocity.js"></script>
    <script src="bower_components/lumx/dist/lumx.js"></script>

    <script src="./src/main.js"></script>
    <script src="./src/main/Subreddits.js"></script>
    <script src="./src/main/SubredditsController.js"></script>
    <script src="./src/main/SubredditService.js"></script>
    <script src="./src/main/DataController.js"></script>
    <script src="./src/main/SelectedService.js"></script>
    <script src="./src/main/DataService.js"></script>


  </body>
</html>
